body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  h1 {
    text-align: center;
    color: seagreen;
  }
  
  .converter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .input-field {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .btn-convert {
    margin-top: 10px;
    display: block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-convert:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  }